# exclude all
/*

# need gradle
!libs/
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# include mnarkdown
!LICENSE

# include sourcecode
!src/

# include libs
!lib/

# include git important files
!.gitmodules
!.gitignore
